body {
  margin: 0;
  background-image: url('/images/MYND background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0f0f0;
  font-family: 'Sintony', sans-serif;
  min-height: 100vh;
}



