.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Sintony', sans-serif;
}

.result-message {
  position: absolute;
  top: 55px;
  left: 20px;
  font-size: 45px;
  font-weight: light;
}

/* Add classes for different circle colors */
.circle.circle-1 {
  background-color: red;
}

.circle.circle-2 {
  background-color: orange;
}

.circle.circle-3 {
  background-color: yellow;
}

.circle.circle-4 {
  background-color: green;
}

.circle.circle-5 {
  background-color: blue;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Adjust the size as needed */
  height: 300px; /* Same as width for a perfect circle */
  border-radius: 50%;
  font-size: 64px;
  font-weight: bold;
  color: white;
}

.circle .selected-number {
  display:flex;
  justify-content: center;
  font-size: 250px;
  font-weight: bold;
  color: white;
}

.positive-message {
  font-family: 'Sintony', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
