

/* Container for the main content */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
}

.message-wrapper {
  height: 180px;
  padding-top: 120px;
}


/* Styles for the message at the top of page */
.message {
  font-family: 'Sintony', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.number-box-wrapper {
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

/* Styles for the box that displays the number */
.number-box {
  display: flex;
  width: 150px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 88px;
  font-weight: bold;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}

/* Styles for the text inside the box when the number is 3 */
.number-box.text-not-bad {
  position: relative;
}

.number-text {
  /* Position the number text inside the number box */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Sintony', sans-serif;
  font-size: 80px;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; /* Add this line to create a black outline around the number */
  padding: 10px; 
}

.text-message {
  font-family: 'Sintony', sans-serif;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
}


.text-not-bad::after {
  content: "Not bad";
  position: absolute;
  bottom: -20px;
  font-size: 14px;
  color: #666;
}

.arrow-buttons {
  position: absolute;
  top: 50%;
  right: -25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
}

/* Styles for the up and down arrow buttons */
.arrow-button {
  cursor: pointer;
  font-size: 24px;
  margin: 4px;
  color: rgb(102,153,204);
}

/* Styles for the submit button */
.submit-button {
  cursor: pointer;
  margin-top: 120px;
  padding: 20px 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.submit-button:hover {
  background-color: #0056b3;
}

.number-box.number-1 {
  background-color: rgb(191,79,81);
  color: white;
}

.number-box.number-2 {
  background-color: rgb(255,160,122);
  color: white;
}

.number-box.number-3 {
  background-color: rgb(239,204,0);
  color: white;
}

.number-box.number-4 {
  background-color: rgb(143,188,143);
  color: white;
}

.number-box.number-5 {
  background-color: rgb(155,196,226);
  color: white;
}